@charset "utf-8";

/* SkipNavigation
-------------------------------------------------------------- */
#skipNav{width:100%;overflow:hidden;margin:0 auto;}
#skipNav a{display:block;background:#000;font-weight:bold;width:0;height:0;font-size:0;line-height:0;margin:0 -1px -2px 0;overflow:hidden;font-size:11px;text-align:center;}
#skipNav a:hover, #skipNav a:active, #skipNav a:focus{height:20px;line-height:1;margin:0;padding-top:5px;width:auto;text-decoration:none;color:#ffb533;}

/* Dim
-------------------------------------------------------------- */
.dim{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.5;z-index:4900;}

/* Align_Style
-------------------------------------------------------------- */
.cb{clear:both;}
.clearFix{display:block;content:"";clear:both;}
.fl{float:left !important;}
.fr{float:right !important;}
.tal{text-align:left !important;}
.tac{text-align:center !important;}
.tar{text-align:right !important;}
.vat{vertical-align:top !important;}
.vam{vertical-align:middle !important;}
.vab{vertical-align:bottom !important;}
.block{display:block !important;}
.inline{display:inline !important;}
.inblock{display:inline-block !important;}
.tb{display:table !important;}
.tr{display:table-row !important;}
.tc{display:table-cell !important;}

/* Align_width
-------------------------------------------------------------- */
.w30{width:30px !important;}
.w40{width:40px !important;}
.w45{width:45px !important;}
.w50{width:50px !important;}
.w55{width:55px !important;}
.w60{width:60px !important;}
.w65{width:65px !important;}
.w70{width:70px !important;}
.w75{width:75px !important;}
.w80{width:80px !important;}
.w100{width:100px !important;}

/* Align_Space
-------------------------------------------------------------- */
.mt0{margin-top:0 !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mb0{margin-bottom:0 !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
.ml0{margin-left:0 !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml30{margin-left:30px !important;}
.mr0{margin-right:0 !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:20px !important;}
.mr30{margin-right:30px !important;}
.pt0{padding-top:0 !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt30{padding-top:30px !important;}
.pb0{padding-bottom:0 !important;}
.pb5{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb30{padding-bottom:30px !important;}
.pl0{padding-left:0 !important;}
.pl5{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl30{padding-left:30px !important;}
.pr0{padding-right:0 !important;}
.pr5{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr30{padding-right:30px !important;}

/* Border , Background
-------------------------------------------------------------- */
.bd0{border:0 !important;}
.bdt0{border-top:0 !important;}
.bdb0{border-bottom:0 !important;}
.bdl0{border-left:0 !important;}
.bdr0{border-right:0 !important;}
.bgn{background:none !important;}

/* Color
-------------------------------------------------------------- */
.pt_gray{color:#ccc !important;} /* 20160311 */

/* Hide
-------------------------------------------------------------- */
.blind,legend{visibility:hidden;position:absolute;top:-9999px;width:0;height:0;line-height:0;overflow:hidden;}
.hid{position:absolute;overflow:hidden;font-size:1px;width:0 !important;height:0 !important;margin:0 !important;padding:0 !important;color:transparent !important;}

/* Common Used
-------------------------------------------------------------- */
.slash{display:inline-block;width:15px;text-align:center;color:#a1a1a1;}
.line{position:absolute;top:0;left:0;bottom:0;right:0;border:1px solid #a1a1a1;}
.contLine{padding-top:10px !important;border-top:1px solid #e7e8ea !important;}
._amend{display:block;}
.accent{color:#0ad7b4 !important;}
.accent_02{color:#964be6 !important;}

/* Form
-------------------------------------------------------------- */
input[type="submit"], input[type="button"]{padding:0;
-webkit-appearance:none;
   -moz-appearance:none;
		appearance:none;
}
input[type="text"], input[type="tel"] , input[type="number"], input[type="search"], input[type="password"],input[type="email"],select{
	text-indent:5px;
	font-size:15px;
	background:#fff;
}
input[type="datetime-local"]{
	background:#fff;
}

/* Placeholder Color
-------------------------------------------------------------- */
::-webkit-input-placeholder {
	color:#ccc;font-size:15px;
}
:-moz-placeholder { /* Firefox 18- */
	color:#ccc;font-size:15px;
}
::-moz-placeholder {  /* Firefox 19+ */
	color:#ccc;font-size:15px;
}
:-ms-input-placeholder {  
	color:#ccc;font-size:15px;
}

.place_01::-webkit-input-placeholder {
	color:#ccc;font-size:12px;
}
.place_01:-moz-placeholder { /* Firefox 18- */
	color:#ccc;font-size:12px;
}
.place_01::-moz-placeholder {  /* Firefox 19+ */
	color:#ccc;font-size:12px;
}
.place_01:-ms-input-placeholder {  
	color:#ccc;font-size:12px;
}

/* Input
-------------------------------- */
input.txt{width:100%;height:30px;line-height:30px;}
.input_grp{position:relative;top:0;left:0;width:100%;height:32px;overflow:hidden;padding:0 0 0 25px;border:1px solid #dcdcdc;background:#fff url(../img/icon/search_icon.png) 4px center no-repeat;background-size:20px 20px;}
.input_grp_02{}
.input_grp_02 span{display:inline-block;margin-left:5px;vertical-align:middle;}

/* Select
-------------------------------- */
/*
select{
-webkit-appearance:none;
	-moz-appearance:none;
		  appearance:none;
}
*/
/* IE 10, 11의 네이티브 화살표 숨기기 
select::-ms-expand { 
  display:none;
}
*/
.select_wrap:after{display:block;content:"";clear:both;}
.select_wrap.w2 .select_grp select{border:0;}
.select_wrap .select_grp{float:left;width:49%;margin-right:2%;}
.select_wrap .select_grp:nth-child(2n){margin-right:0;}

.select_grp{position:relative;top:0;left:0;width:100%;height:30px;overflow:hidden;}
.select_grp select::-ms-expand{display:none;}
.select_grp select{width:100%;height:30px;line-height:28px;border:1px solid #dcdcdc;background:#fff;color:#ccc;}

.select_grp_02{display:inline-block;vertical-align:middle;}
.select_grp_02 select{height:30px;border-bottom:1px solid #d2d2d4;text-indent:5px;
-webkit-appearance:none;
	-moz-appearance:none;
		  appearance:none;
}
.select_grp_02 select::-ms-expand{display:none;}
.select_grp_02 span{display:inline-block;vertical-align:middle;color:#1d1d26;font-size:17px;}
.select_grp_02 .txt{border-bottom:1px solid #d2d2d4;text-align:center;}

.select_grp_03{border:1px solid #dcdcdc;}
.select_grp_03 select{width:100%;height:30px;line-height:30px;color:#ccc;}

.select_grp_04{}
.select_grp_04 select{width:100%;height:30px;line-height:30px;color:#ccc;}

.select_grp_05{display:inline-block;vertical-align:middle;margin-right:3px;}
.select_grp_05 select{height:25px;text-indent:5px;color:#999;
-webkit-appearance:none;
	-moz-appearance:none;
		  appearance:none;
}
.select_grp_05 select::-ms-expand{display:none;}
.select_grp_05 span{display:inline-block;vertical-align:middle;color:#1d1d26;font-size:15px;color:#999;}

.select_grp_06{}
.select_grp_06 select{width:100%;height:30px;line-height:30%;color:#ccc;}

/* Checkbox 디자인
-------------------------------- */
input.checkbox{display:none;}
input.checkbox + label{
	display:inline-block;
	font-size:14px;
	cursor:pointer;
}
input.checkbox + label span{
	display:inline-block;
	width:24px;
	height:24px;
	vertical-align:middle;
	background:url(../img/icon/check.png) left 0 no-repeat;
	cursor:pointer;
	margin-right:10px;
	background-size:24px 24px;
}
input.checkbox:checked + label span{
	background:url(../img/icon/check_on.png) left 0 no-repeat;
	background-size:24px 24px;
}

input.checkbox:disabled + label span {
	background:url(../img/icon/check.png) left 0 no-repeat;
	background-size:24px 24px;
	cursor:default;
}
input.checkbox:disabled + label,
input.radio:disabled + label{
	color:#ccc;cursor:default;
}

/* Radio 디자인
-------------------------------- */
input.radio{display:none;}
input.radio + label {
	display:inline-block;
	font-size:14px;
	cursor:pointer;
}
input.radio + label span {
	display:inline-block;
	width:24px;
	height:24px;
	vertical-align:middle;
	background:url(../img/icon/rdo.png) left 0 no-repeat;
	cursor:pointer;
	background-size:24px 24px;
}
input.radio:checked + label span {
	background:url(../img/icon/rdo_on.png) left 0 no-repeat;
	background-size:24px 24px;
}

input.radio:disabled + label span {
	background:url(../img/icon/rdo.png) left 0 no-repeat;
	cursor:default;
}

/* checkbox, rdo 의 간격 */
.check_grp .check_list,
.rdo_grp .rdo_list{display:inline-block;overflow:hidden;vertical-align:middle;}
.check_grp.r10 .check_list,
.rdo_grp.r10 .rdo_list{margin-right:20px;}
.check_grp.rb5 .check_list,
.rdo_grp.rb5 .rdo_list{margin:0 20px 5px 0;}
.check_grp.rb10 .check_list,
.rdo_grp.rb10 .rdo_list{margin:0 20px 5px 0;}
.check_grp.v1 .check_list span,
.rdo_grp.v1 .rdo_list span{margin-right:0;}

/* checkbox version */
.check_grp.v2 .check_list input.checkbox + label{width:100%;}
.check_grp.v2 .check_list{display:block;width:100%;margin-bottom:10px;}
.check_grp.v3 .check_list{position:relative;top:0;left:0;display:block;width:100%;border-top:4px solid #f0f0f0;}
.check_grp.v3 .check_list input.checkbox + label{width:85%;padding:12px 25px;}
.check_grp.v3 .check_list input.checkbox + label span{position:absolute;top:50%;right:40px;margin:-12px 0 0 0;}
.check_grp.v3 .check_list label .lbl_bk{display:block;margin-top:5px;color:#999;font-size:12px;}

/* rdobox version */
.rdo_grp.v2{border-top:1px solid #e5e5e5;}
.rdo_grp.v2 .rdo_list{position:relative;top:0;left:0;display:block;width:100%;padding:8px 0;border-bottom:1px solid #e5e5e5;}
.rdo_grp.v2 .rdo_list label{width:100%;}
.rdo_grp.v2 .rdo_list input.radio + label span{margin-right:10px;}
.rdo_grp.v2 .rdo_list label em{display:block;position:absolute;top:50%;right:10px;margin-top:-8px;color:#ccc;}
.rdo_grp.v3 .rdo_list{position:relative;top:0;left:0;display:block;width:100%;border-top:2px solid #f0f0f0;}
.rdo_grp.v3 .rdo_list input.radio + label{width:85%;padding:12px 25px;}
.rdo_grp.v3 .rdo_list input.radio + label span{position:absolute;top:50%;right:40px;margin:-12px 0 0 0;}

/* File
-------------------------------- */
.file_grp{position:relative;width:100%;height:31px;}
.file_grp .file_inner{display:block;position:absolute;top:0;left:0;width:100%;height:31px;}
.file_grp .file_inner a{position:relative;display:block;width:100%;height:31px;background:url(../img/icon/file_icon.png) 5px 2px no-repeat;background-size:24px;}
.file_grp .file_inner a label{position:absolute;top:0;left:0;width:100%;height:31px;line-height:27px;text-align:center;color:transparent;}
.file_grp .file_inner .file_add{display:block;opacity:0;width:100%;height:31px;}
.file_grp .file_txt{float:left;width:100%;height:31px;line-height:31px;text-indent:35px;}

.file_grp .file_inner.v2 a{background:url(../img/icon/file_flim.png) 5px 8px no-repeat;background-size:26px auto;}

/* Textarea
-------------------------------- */
.textarea_grp{width:100%;}
.textarea_grp textarea{
	min-height:100px;
	padding:5px;
}
.textarea_grp.g2 textarea{min-height:180px;}
textarea{width:100%;font-size:13px;resize:none;}
textarea.area_01{min-height:50px;padding:5px;}
textarea.area_02{min-height:75px;padding:5px;}

/* text,textarea div
-------------------------------- */
.text_div{width:100%;border:1px solid #cfcecd;height:29px;line-height:29px;text-indent:10px;background:#fff;
	-webkit-border-radius:2px;
		-moz-border-radius:2px;
			  border-radius:2px;
}
.textarea_div{width:100%;border:1px solid #cfcecd;min-height:180px;padding:10px;background:#fff;
	-webkit-border-radius:2px;
		-moz-border-radius:2px;
			  border-radius:2px;
}

/* Btn
-------------------------------------------------------------- */
.btn_type_01{margin-top:15px;text-align:center;font-size:0;}
.btn{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	overflow:visible;
}
.btn input, .btn span{
	display:block;
	overflow:visible;
	border:0;
	cursor:pointer;
	font-size:15px;
	color:#fff;
}
.fix_btm{position:fixed;bottom:0;left:0;z-index:1000;}


/* Btn Color
-------------------------------- */
.btn.btnC_01 input, .btn.btnC_01 span{background:#0ad7b4;border:1px solid #0ad7b4;} /* 연두색 */
.btn.btnC_02 input, .btn.btnC_02 span{background:#ba77ff;border:1px solid #ba77ff;} /* 보라색 */
.btn.btnC_03 input, .btn.btnC_03 span{background:#ccc;border:1px solid #ccc;} /* 회색 */
.btn.btnC_04 input, .btn.btnC_04 span{background:#ff8588;border:1px solid #ff8588;} /* 핑크색 */
.btn.btnC_05 input, .btn.btnC_05 span{background:#999;border:1px solid #999;} /* 핑크색 */
.btn.btnC_06 input, .btn.btnC_06 span{background:#1cdc25;border:1px solid #1cdc25;} /* 연두색2 */

/* Btn half
-------------------------------- */
.btn_half:after{display:block;content:"";clear:both;}
.btn_half .btn.btn_full{float:left;width:50%;}

/* Btn 100%
-------------------------------- */
.btn.btn_full{width:100%;display:block;}
.btn.btn_f_01 input, .btn.btn_f_01 span{
	width:100%;
	height:50px;
	line-height:48px;
	color:#4fd2c2;
	background:#fff;
}
.btn.btn_f_02 input, .btn.btn_f_02 span{
	width:100%;
	height:50px;
	line-height:48px;
	font-size:17px;
}
.btn.btn_f_03 input, .btn.btn_f_03 span{
	width:100%;
	height:60px;
	line-height:58px;
	font-size:18px;
}
.btn.btn_f_04 input, .btn.btn_f_04 span{
	width:100%;
	height:50px;
	line-height:48px;
	color:#666;
	background:#ffff00;
}
.btn.btn_f_05 input, .btn.btn_f_05 span{
	width:100%;
	height:25px;
	line-height:23px;
}

.btn.btn_f_06 input, .btn.btn_f_06 span{
	width:100%;
	height:35px;
	line-height:33px;
}

/* Btn padding
-------------------------------- */
.btn.btn_p_03 input, .btn.btn_p_03 span{
	padding:0 5px;
	height:30px;
	line-height:28px;
}
.btn.btn_p_04 input, .btn.btn_p_04 span{
	padding:0 5px;
	height:26px;
	line-height:24px;
	font-size:12px;
}